.summary {
    border: 1px solid black;
    box-shadow: 3px 4px 3px white;
    height: max-content;
}

.eachTicket {
    display: flex;
    justify-content: space-between;
}

.wraper-div {
    margin: 10px;
}

.card-name {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.wraper-checkout {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.checkout-heading {
    text-align: center;
}

.check-out {
    width: 100%;
    height: 100vh;
}

.input-fields {
    margin: 5px;
}

.input-fields > label {
    margin: 5px;
}

.user-name-email {
    display: flex;
}

.input1 {
    display: flex;
    align-items: center;
}

.input1 > label {
    margin: 5px;
}

.inputs {
  
    border-radius: 2px;
    margin: 10px 0;
    height: 1.5rem;
}

.checkout-btn {
    display: flex;
    justify-content: center;
   align-items: center;
    width: 150px;
   
    background-color: rgb(19, 135, 236);
    height: 2.5rem;
    border: 1px solid rgb(19, 135, 236);
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.checkout-btn:hover {
    height: 3rem;
    font-weight: 500;
    box-shadow: 0 0 8px 4px white;
}

.form-checkout {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

@media screen and (max-width:500px) {
    .wraper-checkout {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    .summary-slip {
        margin: 5px;
    }

    .user-name-email {
        display: flex;
        flex-direction: column;
    }

    .input1 {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .input1 > input {
        width: 13rem;
    }

    .checkout-btn {
        width: auto;
        text-align: center;
        background-color: rgb(19, 135, 236);
        height: 2rem;
        border: 1px solid rgb(19, 135, 236);
        border-radius: 5px;
        color: white;
        font-weight: 500;
    }
}
/*===========for payment ============*/

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fed8d8;
    color: rgb(26, 26, 252);
    font-size: 60px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 1px 2px 4px 4px white;
    width: 30%;
    height: 50%;
    text-align: center;
  }
  .modal-content .icon{
    margin-top: 40px;
    font-size: 60px;
    color: #fff;
    background-color: green;
  }
  .close-btn {
    color: red;
    position: absolute;
    margin-top: -30px;
    margin-left: 180px;
    cursor: pointer;
  }
  

@media screen and (max-width:900px) {
    .wraper-checkout {
        margin: 5px;
        display: flex;
        /* flex-direction: column; */
    }

    .summary-slip {
        margin: 5px;
    }

    .user-name-email {
        display: flex;
        flex-direction: column;
    }

    .input1 {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .input1 > input {
        width: auto;
    }

    .checkout-btn {
        width: auto;
        text-align: center;
        background-color: rgb(19, 135, 236);
        height: 2rem;
        border: 1px solid rgb(19, 135, 236);
        border-radius: 5px;
        color: white;
        font-weight: 500;
    }
}

@media screen and (max-width:300px) {
    .wraper-checkout {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    .summary {
        margin: 5px;
    }

    .user-name-email {
        display: flex;
        flex-direction: column;
    }

    .input1 {
        display: flex;
        justify-content: space-between;
    }

    .input1 > input {
        width: 10rem;
    }

    .checkout-btn {
        width: auto;
        text-align: center;
        background-color: rgb(19, 135, 236);
        height: 2rem;
        border: 1px solid rgb(19, 135, 236);
        border-radius: 5px;
        color: white;
        font-weight: 500;
    }
}

@media screen and (max-width:1000px) {
    .wraper-checkout {
        margin: 5px;
        display: flex;
        /* flex-direction: column; */
    }

    .summary {
        margin: 5px;
    }

    .user-name-email {
        display: flex;
        flex-direction: column;
    }

    .input1 {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .input1 > input {
        width: 60%;
    }

    .checkout-btn {
        width: auto;
        text-align: center;
        background-color: rgb(19, 135, 236);
        height: 2rem;
        border: 1px solid rgb(19, 135, 236);
        border-radius: 5px;
        color: white;
        font-weight: 500;
    }
}