
.imageIcon img{
    position: absolute;
    margin-top: -55px;
    margin-left: -50px;
    width: 300px;
    height: 200px;

}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .searchIcon{
    position:absolute;
    cursor: pointer;
right: 41rem;
color: rgb(92, 88, 88);
  
  }
  .search input {
    font-size: 17px;
    width: 600px;
    margin-top: 20px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
  }
.favourite{
    margin-top: 20px;
}
.favourite:hover{
    box-shadow: 0 0 6px 3px white;
}

@media screen and (max-width: 600px) {
    .imageIcon img{
        position: absolute;
        width: 220px;
        height: 150px;
        margin-left: -38px;
        margin-top: -30px;

    }
    .search input {
        width: 250px;
       font-size: 12px;
       font-weight: bold;
    margin-left: 130px;
    }
    .searchIcon{
        position: absolute;
        right: 160px;
        color: white;
        
    }
    .favourite{
        margin-right: 50px;
    }
  
    .genresClr{
        display: none;
    }
 
    .modalText {
        font-size: 12px !important;
        max-width: 100%;
    }
   
    .modalCards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px !important;
        height: 400px !important;
    }
    .modalText .overview {
        display: none !important;
    }
    .tags1 {
        font-size: 10px;
    }
    .signupInputs {
        border-radius: 10px !important;
        position: absolute;
        margin-left: -50px !important;
        width: 70% !important;
    }
    .signup button {
        font-size: 15px !important;
        width: 220px !important;
        margin-left: 30px !important;
    }
 
    .modal-content {
        width: 90% !important;
    }
   
}

@media screen and (min-width: 601px) and (max-width: 900px) {
   
 
    .search input {
        width: 300px;
       font-size: 12px;
       font-weight: bold;
    margin-left: 150px;
    }
    .searchIcon{
        position: absolute;
        right: 210px;
        color: white;
        
    }
    .favourite{
        margin-right: 10px;
    }
    .mobile_genres h2 {
        font-size: 16px !important;
    }
    .genresClr{
       margin-top: -32px;
        font-size: 13px !important;
        display: block;
    }
    .modalCards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px !important;
        height: auto !important;
    }
    .modalText .overview {
        display: none !important;
    }
   
    .signupInputs {
        border-radius: 10px !important;
        position: absolute;
        width: 60% !important;
    }

    .modal-content {
        width: 90% !important;
    }
    .close-btn {
        right: 40px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  
    .search input {
        width: 500px;
       font-size: 12px;
       font-weight: bold;
    margin-left: 150px;
    }
    .searchIcon{
       right: 220px;
       
        
    }
    .signupInputs {
        border-radius: 10px !important;
        position: absolute;
        width: 50% !important;
    }
    .modal-content {
        width: 90% !important;
    }
    .close-btn {
        right: 50px;
    }
}
