.imageIcon img{
    margin-top: -60px;
    margin-bottom: -80px;
    width: 300px;
    height: 200px;

}
.search{
         display: "flex";
        justify-content: "space-evenly"; 
}
.search input{
    font-size: 17px;
    width: 600px;
    margin-top: 20px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
   margin-bottom: 20px;
   margin-left: -40px;
}
.favourite{
   
    margin-top: 20px;
}
.favourite:hover{
    box-shadow: 0 0 6px 3px white;
}

.login img{
    cursor: pointer;
    margin-top: 30px; 
    margin-left: 20px;
    margin-bottom: -7px;
}
.user-dropdown {
    position: relative;
  }
  
  .user-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-dropdown-menu.show {
    display: block;
  }
  
