
.imageIcon img{
    position: absolute;
    margin-top: -55px;
    margin-left: -50px;
    width: 300px;
    height: 200px;

}
.search{
         display: "flex";
        justify-content: "space-evenly"; 
}
.search input{
    font-size: 17px;
    width: 600px;
    margin-top: 20px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
}
.favourite{
   
    margin-top: 20px;
}
.favourite:hover{
    box-shadow: 0 0 6px 3px white;
}

.login img{
    cursor: pointer;
    margin-top: 30px; 
    margin-left: 20px;
    margin-bottom: -7px;
}
.user-dropdown {
    position: relative;
  }
  
  .user-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-dropdown-menu.show {
    display: block;
  }
  
/* ======================= */
/* Mobile Devices (up to 600px) */
@media screen and (max-width: 600px) {
    .search {
        display: none;
    }
    .favourite img{
        margin-left: 250px;
    }
    
    .genresClr{
        display: none;
    }
    .cards{
        width: 400px ;
    }
    .modalText {
        font-size: 12px !important;
        max-width: 100%;
    }
   
    .modalCards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px !important;
        height: 400px !important;
    }
    .modalText .overview {
        display: none !important;
    }
    .tags1 {
        font-size: 10px;
    }
    .signupInputs {
        border-radius: 10px !important;
        position: absolute;
        margin-left: -50px !important;
        width: 70% !important;
    }
    .signup button {
        font-size: 15px !important;
        width: 220px !important;
        margin-left: 30px !important;
    }
    .loginBttn img{
        margin-top: -3px !important;
        margin-left: -40px !important;
    }
    .modal-content {
        width: 90% !important;
    }
   
}

/* Tablet Devices (601px to 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
   
    .search {
        width: 350px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
    }
    .search input {
        font-size: 12px;
    }
    .modalCards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px !important;
        height: auto !important;
    }
    .modalText .overview {
        display: none !important;
    }
    .cards {
        margin-left: 70px !important;
        max-width: 500px !important;
    }
    .signupInputs {
        border-radius: 10px !important;
        position: absolute;
        width: 60% !important;
    }

    .modal-content {
        width: 90% !important;
    }
    .close-btn {
        right: 40px;
    }
}

/* Laptop Devices (901px to 1200px) */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    .search {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .signupInputs {
        border-radius: 10px !important;
        position: absolute;
        width: 50% !important;
    }
    .modal-content {
        width: 90% !important;
    }
    .close-btn {
        right: 50px;
    }
}

/* Larger Screens (1201px and above) */
/* You can add additional styles for larger screens if needed */
@media screen and (min-width: 1201px) {
    /* Add your styles for larger screens here */
}
