/* body{
  
  background-color: rgb(235, 154, 54);
}
.signup{
  color: white;
   background-color: rgb(242, 145, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   max-width: 100%;
  max-height: 100%;
    padding: 50px;
}
.signup button{
  color: white;
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: 20px;
  margin-left: 130px;
  width: 120px;
  border-radius: 20px;
  background-color: rgb(253, 67, 67);
}
.signupInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 80%;
    gap: 20px;
    background-color: rgb(59, 189, 189);
    padding: 30px;
}
.signupInputs img{
  width:100px;
 margin-left: 150px;
 
}
.signupInputs h2{
  margin-top: -30px;
  font-size: 40px;
}
.signupInputs input{
height: 30px;
font-size: 18px;
} */


/* body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  background-color: blueviolet;
} */

.signup {
  color: white;
  /* background-color: rgb(242, 145, 145); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 35%;
  margin-left: 35%;
  height: 100vh;
  box-sizing: border-box; /* Add this to include padding and border in the width calculation */
}


.signupInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background-color: rgb(59, 189, 189);
  padding: 30px;
  width: 100%; /* Add this to take full available width */
  box-sizing: border-box; /* Add this to include padding and border in the width calculation */
}
.signup button {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30%;
  width: 40%;
  border-radius: 20px;
  background-color: rgb(253, 67, 67);
}


.signupInputs img {
  width: 100px;
  margin: 0 auto; 
  
}
.signupInputs h2 {
  margin-top: -30px;
  font-size: 40px;
}

.signupInputs input {
  height: 30px;
  font-size: 18px;
  width: 100%; /* Add this to take full available width */
  box-sizing: border-box; /* Add this to include padding and border in the width calculation */
}
