body{
        margin: 0;
        padding: 0;
        /* background-color:antiquewhite ;   */
        /* background-color:rgb(141, 151, 170); */
        
        background-image: linear-gradient(180deg, rgb(62, 64, 75), rgb(165, 169, 178));
}
.header{
        background-color: "rgb(51, 53, 69)";
        display: "flex";
        justify-content: "space-between";
}
.genresClr{
        background-color:rgb(31, 37, 51);
      color: white;
}

.genresText:hover{
        transform: scale(1.50);
        cursor: pointer;
      width: 180px;
        background-color:rgb(165, 169, 178);
      
}
.modalCards{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        /* background-color: rgb(188, 34, 131); */
        background: linear-gradient(180deg,  rgb(45, 127, 131), rgb(239, 88, 88));
        /* box-shadow: 4px 4px 4px rgb(250, 250, 250); */
}
.modalText{
        font-weight: "bold";
       text-align: center;
        font-size: 15px;
        margin-left: 30px;
}
.modalText button{
        color: white;
        background: rgb(45, 127, 131);
       margin: 5px;
}

.modalCards:hover{
        background: linear-gradient(180deg, rgb(227, 44, 44), rgb(20, 91, 95));
        box-shadow:  0 0 10px 5px #fff;
}
.modalText button:hover{
background: rgb(227, 44, 44);
transform: scale(1.08);
}
.cards{
        color: black;
        margin: 20px;
        background: rgb(249, 244, 244);
        margin-top: 20px;
        border-radius: 20px;
          box-shadow: 1px 1px 5px 3px rgb(31, 37, 51)
       /* border:2.5px solid  rgb(134, 132, 132); */
}
.cards:hover{
        /* background-color: transparent; */
        transform: scale(1.10) ;
        /* color: white; */
        /* background-color: white; */
        /* box-shadow: 1px 1px 3px 3px white; */
}

.cards img{
       margin-bottom: 15px;
        
        border-radius: 10px;
        
}
/* .cards img:hover{
        box-shadow: 1px 1px 2px 5px  rgb(107, 101, 101);
        transform: scale(1) ;
} */
.tags1{
        font-size: 30px;
        /* color:rgb(31, 37, 51); */
        font-weight:600;
}